<h2>Mutual</h2>

<p>
    Mutual topics between Twitter user <a href="https://twitter.com/{{one.screenName}}">{{one.screenName}}</a>
    and <a href="https://twitter.com/{{another.screenName}}">{{another.screenName}}</a>.
</p>

<div>
    Find common topics for two Twitter user: <br/>
    <input ng-model="one.screenName">
    <input ng-model="another.screenName">
    <button type="submit" ng-click="submit()">Submit</button>
</div>

<div wordcloud words="one.words"></div>
<div wordcloud words="another.words"></div>
