<h2>Sole</h2>


<div ng-if="screenName">
    <p>Word cloud for Twitter user <a href="https://twitter.com/{{screenName}}">{{screenName}}</a></p>
</div>

<div>
Find topics for a new user:
<input ng-model="screenName">
<button type="submit" ng-click="submit()">Submit</button>
</div>

<div wordcloud words="words"></div>
